.content {
       width: 80%;
}

.sidebar {
       width: 20%;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/css/lato.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(/css/merriweather.woff) format('woff');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Merriweather', serif;
}
    
html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Merriweather', serif;
}

:link {
    color: green;
    text-decoration: none;
}

:visited {
    color: green;
    text-decoration-line: none;
}

pure-u-1-5 {
    border-left: 1px solid
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 25px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
}

 .button-success, {
            color: green;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: green;
        }

        .button-success {
            background: green;
        }