@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/css/lato.woff) format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(/css/merriweather.woff) format('woff');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Merriweather', "Georgia", serif;
}
    
html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Merriweather', "Georgia", serif;
    
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: green;
  visibility: hidden;
  -webkit-transorm: scaleX(0);
  transform: scaleX(0);
  -webkit-transition all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transofrm: scaleX(1);
}

:link, :visited {
    position: relative;
    color: green;
    text-decoration: none;
}

html {
    position: relative;
    min-height: 100%;
}

p {
    line-height: 150%;
    font-size: 16px;
}

body {
    margin-bottom: 50px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.content {
    margin-right: 5%;
    margin-left: 5%;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid green;
} 

.box {
    font-style: italic;
    border: 1px solid green;
    width: 300px;
    height: 180px;
    float: left;
    overflow: auto;
    margin: 10px;
    padding: 10px;
}
