/*
====================
Body
====================
*/

html,
body {
    height: 100%;
    font-family: "Muli", Arial, sans-serif;
}

::selection {
	background: #32b643;
	color: #fff;
}

.contain {
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 44px;
    text-align: center;
    margin-bottom: 22px;
}

h3, h4 {
    margin-bottom: 22px;
}

h2 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 22px;
}

h5 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 22px;
}

ul {
    list-style: outside;
}

pre code {
    border-radius:.1rem;
    position:relative;
    background:#272822;
    color:inherit;
    display:block;line-height:1.5;
    overflow-x:auto;
    padding:1rem;
    width:100%
}

/*
==============
Index
==============
*/

.inpage-link {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

.index-headings h1,
.index-headings h2, 
.index-headings h3, 
.index-headings h4 {
    text-align: center;
}

/*
==================
Nav Bar Navigation
==================
*/

.floating-navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 5%;
    border-bottom: 1px solid #32b643;
    background: #cbedd0;
    height: 90px;
}

.navbar-section a {
    font-weight: 600;
}

/*
===================
Intro
===================
*/

.intro {
    display:flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;   
    text-align: center; 
}

.intro p {
    font-size: 24px;
}

.btn-intro {
    font-size: 18px;
    margin-bottom: 10px;
}

.next-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*
====================
Skills
====================
*/


.skill {
    text-align: center;
}

.skill .btn {
    text-transform: uppercase;
}

.skill .html {
    background-color: #F26525;
    border-color: #E54C21;
}

.skill .css {
    background-color: #1FABDC;
    border-color: #016FBA;
}

.skill .js {
    background-color: #F0DA50;
    border-color: #D6BA32;
}

.skill .git {
    background-color: #F05134;
    border-color: #D53F27;
}

/* 
===========================
Projects
===========================
*/

.card {
    margin-bottom: 15px;
}


/*
=====================
Experience
=====================
*/

.tile h5 {
    color: #bdbdbd;
}

.tile li {
    list-style: square;
}

.timeline-title {
    color: #32b643;
}

/*
====================
Contact
====================
*/

input,
textarea {
    margin-bottom: 15px;
}

/*
=====================
Footer
=====================
*/

footer {
    margin-top: 22px;
    background-color: #cbedd0;
    border-top: 1px solid #32b643;
    padding-top: 10px;
    text-align: center;
    height: 60px;
}

/*
==========================
Blog Posts
==========================
*/

.blog-container {
    margin: 0 auto;
    padding: 0 5%;
    font-size: 1.1em;
    max-width: 1000px;
}

.spacefornavbar {
    margin-top: 120px;
}

.post-date {
    text-align: left;
    color: #32b643;
}

.blog-container h2,
.blog-container h3,
.blog-container h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

.left {
    position: absolute;
    left: 10%;  
  }
  
.right {
    position: absolute;
    right: 10%;
  }
  
.post-bottom {
    text-align: center;
    font-style: italic;
  }

.blog-div {
    margin: 30px 0;
}

/*
==================
Pagination
==================
*/ 

.pag-div {
    margin-top: 30px;
}

.pagination-styles h1 {
    text-align: left;
}

.pagination-intro {
    text-align: center;
}

.post-space {
   color: #50596c; 
   margin: 2em;
}

.post-space:hover,
.post-space:active,
.post-space:visited {
    color: #50596c;
    text-decoration: none;
}

/*
===================
Mobile
===================
*/

@media all and (max-width:480px) {
    h1 {
        font-size: 2em;
        padding: 0 5%;
    }

    .intro p {
        font-size: .8rem;
    }

    .btn-intro {
        font-size: .8rem;
    }
}
