<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Radhika Morabia</title>
	<link href="https://file.myfontastic.com/ttPvfNEb42VKtBvcMAuK8G/icons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
	{{ block "head" . -}}{{- end }}
</head>

<!-- FIGURE OUT HOW TO TEMPLATE THIS PER PAGE -->
<body class="home">
	{{ block "main" . -}}{{ end -}}
	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.RelPermalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
	{{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
