---
layout: default
title: Coding Log
---

<div class="blog-container">

  <div class="pagination-intro">
  <h1 class="spacefornavbar">Daily Code Log</h1>
  <p>I write about everything I learned every single day.</p>
  <p>If every day is too often for you, I also write <a href="http://rmorabia.com/review">Monthly Reviews</a>.</p>
  </div>

  <div class="blog-div divider"></div>

  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-space">
      <div>
        <h1>{{ post.title }}</h1>
            <h5 class="post-date"><time datetime="{{ post.date }}">
                {% assign d = post.date | date: "%-d"  %}
                {{ post.date | date: "%B" }} 
                {% case d %}
                  {% when '1' or '21' or '31' %}{{ d }}st
                  {% when '2' or '22' %}{{ d }}nd
                  {% when '3' or '23' %}{{ d }}rd
                  {% else %}{{ d }}th
                  {% endcase %}, 
                {{ post.date | date: "%Y" }}</time></h5>
      </div>
      <div class="blog-div divider"></div>
    </a>
  {% endfor %}
  
</div>

<div class="container post-bottom">
    <div class="columns">
      <div class="column col-1">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left"><i class="fas fa-angle-double-left"></i></a>
            {% endif %}
            </div>
    <div class="column col-10">
      <div class="active">
        {{ paginator.page }}
    </div>
  </div>
    <div class="column col-1">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right"><i class="fas fa-angle-double-right"></i></a>
        {% endif %}
        </div>
  </div>
  </div>