<header class="site-header px2 px-responsive">

  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>
      <nav class="site-nav right">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
  <script type="text/javascript" charset="utf-8" src="//s3.amazonaws.com/manycontacts-bars/53a0a73081df1af3285ff3c6.js"></script>
</header>
