<div class="py2 post-footer">
  <img src="/images/avatar.jpeg" alt="Radhika Morabia" class="avatar" />
  <p>Thanks for reading! Comments can be sent to <a href="mailto:hi@rmorabia.com">hi@rmorabia.com</a>.</p>
    <p class="bold">Join a community of game-changers changing the world:</p>

<div class="py2">
<form class="form-light" accept-charset="UTF-8" action="https://madmimi.com/signups/subscribe/103121" method="post" target="_blank">
<input name="utf8" type="hidden" value="✓"/>
<input class="input mobile-block" name="signup[email]" type="text" placeholder="you@example.com" />
<input class="button button-green mobile-block" type="submit" value="Let's do this!" />
</form>
    </div>
</div>
