.contactForm input,
.contactForm textarea {
  width: 55%;
}

.contactForm input {
  height: 26px;
}

.contactForm textarea {
  height: 100px;
}

.contactForm .submit {
  display: block;
  margin-top: 10px;
  height: 26px;
  border: 2px solid #111;
  box-shadow: 2px 2px #111;
  background: #00ff7f;
  color: #111;
  font-weight: 600;
  width: inherit;
}

.contactForm .submit:hover {
  background: #111;
  color: #00ff7f;
  transition: all 0.5s;
}

.contactForm .submit:active {
  box-shadow: 0 0;
  transition: all 0.5s;
}

@media (max-width: 760px) {
  .contactForm input,
  .contactForm textarea {
    width: 100%;
  }
}