@import url("https://indestructibletype.com/fonts/Jost.css");

html {
  font-family: "Jost", "Futura", Helvetica, Arial, sans-serif;
l :or:efzn
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 0;
}

p,
ol,
ul {
  width: 55%;
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

a {
  color: #111;
  text-decoration: none;
  border-bottom: 2px solid #00ff7f;
}

a:hover {
  background: #00ff7f%, #fffff8 50%);
  background-size: 200% 200%;
  background-position: bottom;
  transition: all .5s ease-out;
}
input[tyt:i
  maf01f
  iving-top: 1rem;ets:
}
