--- 
layout: default 
---

<div class="blog-container pagination-styles">

  <h1>{{ page.title }}</h1>


  {% unless page.content == '' %}
  <p>{{ page.content }}</p>
  {% endunless %} {% unless site.categories.[page.category] | size > 0 %}
  <p>No posts in this category at this time.</p>
  {% endunless %} {% for post in site.categories.[page.category] %}
  <a href="{{ post.url | prepend: site.baseurl }}" class="post-space">
    <h1>{{ post.title }}</h1>
    <h5 class="post-date">
      <time datetime="{{ post.date }}">
        {% assign d = post.date | date: "%-d" %} {{ post.date | date: "%B" }} {% case d %} {% when '1' or '21' or '31' %}{{ d }}st
        {% when '2' or '22' %}{{ d }}nd {% when '3' or '23' %}{{ d }}rd {% else %}{{ d }}th {% endcase %}, {{ post.date |
        date: "%Y" }}</time>
    </h5>
  </a>
  {% endfor %}
</div>