<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="icon" href="/css/favicon.ico"></link>
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/stylesheet.css">
<meta name="description" CONTENT="I hold a lot of biases and pretend I have all the time in the world.">
    </head>
    <body>
     <div class="pure-g">
            <div class="pure-u-4-5">
               <div class="content">
                {{ content }}
                </div>
            </div>

            <div class="pure-u-1-5">
                <div class="sidebar">
                <center>
                <img src="/css/avatar.jpeg"/>
                <h1><a href="/">Radhika Morabia</a></h1>
                <p><em>I hold a lot of biases and pretend I have all the time in the world.</em></p>
                <h4><a href="/about/">ABOUT</a></h4>
                <h4><a href="/contact.html">CONTACT</a></h4>
                <h4><a href="http://mad.ly/signups/103121/join">MONTHLY NEWSLETTER</a></h4>
                <h4><a href=""><img src="/css/rss.png"/></a> <a href="">RSS FEED</a></h4>
                <h4><a href="http://amzn.com/w/V9ZYYLHO3DXP">BUY ME A BOOK.</a></h4>
                </center>
            </div>            
        </div>
    </div>
<footer><hr /> <center>Everything on this website is released into the public domain, although I'd appreciate it if you contacted me about whatever you do. <a href="http://github.com/rmorabia/rmorabia.github.io">Source</a></center></footer>
    </body>
</html>
