<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="icon" href="/css/favicon.ico"></link>
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/stylesheet.css">
<meta name="description" CONTENT="I hold a lot of biases and pretend I have all the time in the world.">
        <link href='/feed.xml' rel='alternate' type='application/atom+xml'>
    </head>
    <body>
     <div class="pure-g-r">
            <div class="pure-u-4-5">
               <div class="content">
                {{ content }}
                </div>
            </div>

            <div class="pure-u-1-5">
                <div class="sidebar">
                <center>
                <img src="/css/avatar.jpeg"/>
                <h1><a href="/">Radhika Morabia</a></h1>
                <div class=".subscriber-box"><form class="pure-form pure-form-stacked" accept-charset="UTF-8" action="https://madmimi.com/signups/subscribe/103121" id="mad_mimi_signup_form" method="post" target="_blank">
       <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="✓"/>
          <input name="authenticity_token" type="hidden" value="hFAc0RKwXrjbr8tmY38sEaRSZCx3BAxFpY3NvDfeQ9M="/>
       </div>
       <div class="mimi_field required">
          <b><label for="signup_email">Get access to 99% of my best life hacks for free.</label></b>
          <input class="pure-input-1" id="signup_email" name="signup[email]" type="text" data-required-field="This field is required" placeholder="you@example.com"/>
       </div>
       <div>
          <input class="button-success pure-button" type="submit" class="submit" value="Of course!" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending..." data-invalid-text="That's an invalid email." data-choose-list="↑ Choose a list">
</input>
       </div>
    </form>
<script type="text/javascript">
(function() {
  var form = document.getElementById('mad_mimi_signup_form'),
      submit = document.getElementById('webform_submit_button'),
      validEmail = /.+@.+\..+/,
      isValid;

  form.onsubmit = function(event) {
    validate();
    if(!isValid) {
      revalidateOnChange();
      return false;
    }
  };

  function validate() {
    isValid = true;
    emailValidation();
    fieldAndListValidation();
    updateFormAfterValidation();
  }

  function emailValidation() {
    var email = document.getElementById('signup_email');
    if(!validEmail.test(email.value)) {
      textFieldError(email);
      isValid = false;
    } else {
      removeTextFieldError(email);
    }
  }

  function fieldAndListValidation() {
    var fields = form.querySelectorAll('.mimi_field.required');
    for(var i = 0; i < fields.length; ++i) {
      var field = fields[i],
          type  = fieldType(field);
      if(type == 'checkboxes' || type == 'radio_buttons') {
        checkboxAndRadioValidation(field);
      } else {
        textAndDropdownValidation(field, type);
      }
    }
  }

  function fieldType(field) {
    var type = field.querySelectorAll('.field_type');
    if(type.length > 0) {
      return type[0].getAttribute('data-field-type');
    } else if(field.className.indexOf('checkgroup') >= 0) {
      return 'checkboxes';
    } else {
      return 'text_field';
    }
  }

  function checkboxAndRadioValidation(field) {
    var inputs   = field.getElementsByTagName('input'),
        selected = false;
    for(var i = 0; i < inputs.length; ++i) {
      var input = inputs[i];
      if((input.type == 'checkbox' || input.type == 'radio') && input.checked) selected = true;
    }
    if(selected) {
      field.className = field.className.replace(/ invalid/g, '');
    } else {
      if(field.className.indexOf('invalid') == -1) field.className += ' invalid';
      isValid = false;
    }
  }

  function textAndDropdownValidation(field, type) {
    var inputs = field.getElementsByTagName('input');
    for(var i = 0; i < inputs.length; ++i) {
      var input = inputs[i];
      if(input.name.indexOf('signup') >= 0) {
        if(type == 'text_field') {
          textValidation(input);
        } else {
          dropdownValidation(field, input);
        }
      }
    }
    htmlEmbedDropdownValidation(field);
  }

  function textValidation(input) {
    if(input.id == 'signup_email') return;
    var val = input.value;
    if(val == '') {
      textFieldError(input);
      isValid = false;
      return;
    } else {
      removeTextFieldError(input)
    }
  }

  function dropdownValidation(field, input) {
    var val = input.value;
    if(val == '') {
      if(field.className.indexOf('invalid') == -1) field.className += ' invalid';
      onSelectCallback(input);
      isValid = false;
      return;
    } else {
      field.className = field.className.replace(/ invalid/g, '');
    }
  }

  function htmlEmbedDropdownValidation(field) {
    var dropdowns = field.querySelectorAll('.mimi_html_dropdown');
    for(var i = 0; i < dropdowns.length; ++i) {
      var dropdown = dropdowns[i],
          val      = dropdown.value;
      if(val == '') {
        if(field.className.indexOf('invalid') == -1) field.className += ' invalid';
        isValid = false;
        dropdown.onchange = validate;
        return;
      } else {
        field.className = field.className.replace(/ invalid/g, '');
      }
    }
  }

  function textFieldError(input) {
    input.className   = 'required invalid';
    input.placeholder = input.getAttribute('data-required-field');
  }

  function removeTextFieldError(input) {
    input.className   = 'required';
    input.placeholder = '';
  }

  function onSelectCallback(input) {
    if(typeof Widget != 'undefined' && Widget.BasicDropdown != undefined) {
      var dropdownEl = input.parentNode,
          instances  = Widget.BasicDropdown.instances;
      for(var i = 0; i < instances.length; ++i) {
        var instance = instances[i];
        if(instance.wrapperEl == dropdownEl) {
          instance.onSelect = validate;
        }
      }
    }
  }

  function updateFormAfterValidation() {
    form.className   = setFormClassName();
    submit.value     = submitButtonText();
    submit.disabled  = !isValid;
    submit.className = isValid ? 'submit' : 'disabled';
  }

  function setFormClassName() {
    var name = form.className;
    if(isValid) {
      return name.replace(/\s?mimi_invalid/, '');
    } else {
      if(name.indexOf('mimi_invalid') == -1) {
        return name += ' mimi_invalid';
      } else {
        return name;
      }
    }
  }

  function submitButtonText() {
    var invalidFields = document.querySelectorAll('.invalid'),
        text;
    if(isValid || invalidFields == undefined) {
      text = submit.getAttribute('data-default-text');
    } else {
      if(invalidFields.length > 1 || invalidFields[0].className.indexOf('checkgroup') == -1) {
        text = submit.getAttribute('data-invalid-text');
      } else {
        text = submit.getAttribute('data-choose-list');
      }
    }
    return text;
  }

  function revalidateOnChange() {
    var fields = form.querySelectorAll(".mimi_field.required");
    for(var i = 0; i < fields.length; ++i) {
      var inputs = fields[i].getElementsByTagName('input');
      for(var j = 0; j < inputs.length; ++j) {
        inputs[j].onchange = validate;
      }
    }
  }
})();
</script>
                <h4><a href="/about/">ABOUT</a></h4>
                <h4><a href="/contact/">CONTACT</a></h4>
                <h4><a href="/feed.xml"><img src="/css/rss.png"/></a> <a href="/feed.xml">RSS FEED</a></h4>
                <h4><a href="http://amzn.com/w/V9ZYYLHO3DXP">BUY ME A BOOK.</a></h4>
                </center>
            </div>            
        </div>
    </div>
<footer><hr /> <center>Everything on this website is released into the public domain, although I'd appreciate it if you contacted me about whatever you do. <a href="http://github.com/rmorabia/rmorabia.github.io">Source</a></center></footer>
    <script type="text/javascript">
(function(){
    window._EP   = "https://www.manycontacts.com";
    window.__bID = "53a0a73081df1af3285ff3c6";
    document.body.appendChild(
        document.createElement("script")
    ).src = window._EP + "/assets/js/manycontacts.min.js";
})();
</script></div>
    </body>
</html>
