<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" CONTENT="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} - Radhika Morabia</title>
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="icon" href="/css/favicon.ico"></link>
        <meta name="description" CONTENT="I believe everyone has the potential for greatness and I'm using myself as the case study.">
        <link href="/feed.xml" rel="alternate" type="application/atom+xml">
    
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/archive">Radhika Morabia</a>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/">Newsletter</a></li>
            </ul>
        </div>
    </head>
    <body>
        <div class="post">
        {{ content }}
        </div>
    </body>
</html>