---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date: "%B %d, %Y" }}</p>

<div class="post">
{{ content }}
</div>

<hr />

<p>Enjoyed what you read? Comments can be sent to <a href="mailto:hi@rmorabia.com">hi@rmorabia.com</a> or at <a href="/contact.html"><b>#rmorabia</b> on <b>irc.freenode.net</b>.</a></p>

<p><mark>To get notifications of future updates along with exclusive content, <a href="http://mad.ly/signups/103121/join">sign up for the monthly newsletter.</mark></a></p>