---
layout: default
---

<script src="//load.sumome.com/" data-sumo-site-id="764cc60c03a412a131dacdec1f809772b48cd3aacdd77b4e10d96bbce497a24c" async></script>

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date: "%B %d, %Y" }}</p>


{{ content }}

<hr />

<p>Enjoyed what you read? Comments can be sent to <a href="mailto:hi@rmorabia.com">hi@rmorabia.com</a>.</p>

<p><mark>To get notifications of future updates along with exclusive content, <a href="http://mad.ly/signups/103121/join">sign up for the monthly newsletter</a>.</mark></p>